#### Redirecionamento Customizado ####

Redirect permanent /login https://casas-tombadas-pac.netlify.app/index.html
Redirect permanent /cadastrousuario https://casas-tombadas-pac.netlify.app/src/forms/createAuth/createAuth.php
Redirect permanent /cadastrocasaroes https://casas-tombadas-pac.netlify.app/src/pages/cadastroCasas.php
