#### Redirecionamento Customizado ####

Redirect permanent /login https://casas-tombadas.herokuapp.com/index.html
Redirect permanent /cadastrousuario https://casas-tombadas.herokuapp.com/src/forms/createAuth/createAuth.php
Redirect permanent /cadastrocasaroes https://casas-tombadas.herokuapp.com/src/pages/cadastroCasas.php
